/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
:root {
  --darkGreen: #1a2a32;
  --lightGreen: #31c3bd;
  --green: #1f3641;
  --white: #ffffff;
  --grey: #a8bfc9;
  --yellow: #f2b137;
  --textGreen: #1b353c;
  --shadow: #10212a;
  --boxShadow: #6b8997;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Barlow Condensed"; */
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.dark-green {
  background: var(--darkGreen);
}

.light-green {
  background: var(--lightGreen);
}

.green {
  background: var(--green);
}

.white {
  background: var(--white);
}

.grey {
  background: var(--grey);
}

.yellow {
  background: var(--yellow);
}

.yellow-font {
  color: var(--yellow);
}

.light-green-font {
  color: var(--lightGreen);
}

.grey-font {
  /* fill:red: var(--grey); */
  /* fill: red; */
  color: var(--grey);
}

.background {
  /* background: #1a2a32; */
  background: var(--darkGreen);
  height: 100vh;
  display: grid;
  place-items: center;
}

.game-feild {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  /* grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px; */
}

.x-o-container {
  display: flex;
  align-items: flex-end;
}

.x-and-o {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}

.turn-indicator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5rem;
  height: 2.5rem;
  border-radius: 10px;
  background: var(--green);
  color: var(--grey);
  font-size: 0.9rem;
  box-shadow: var(--shadow) 0px 5px;
}

.turn-icon {
  width: 1.1rem;
  height: 1.1rem;

}

.icon {

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.restart-button-container {
  display: flex;
  justify-content: flex-end;
}

.restart-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 10px;
  background: var(--grey);
  box-shadow: var(--boxShadow) 0px 5px;
}

.restart-icon {
  width: 1.1rem;
  height: 1.1rem;
}

.game-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  background: var(--green);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  box-shadow: var(--shadow) 0px 5px;
}

.game-integator {
  width: 3.5rem;
  height: 3.5rem;
}

.score-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5rem;
  height: 2.5rem;
  border-radius: 10px;
}

.score {
  font-size: 0.5rem;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 33%;
  background: var(--green)
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.result-text {
  font-size: 2rem;
  font-weight: 600;
}

.modal-result-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal {
  z-index: 2;
}

.hidden {
  display: none;
}